
    <div class="form-wrapper">
    
    <h1><b>Registration Details</b></h1>
    <form class="form-grid-reg" method="POST"action="/users/register" enctype="application/x-www-form-urlencoded">
    <input type="text"
    placeholder="Username" required name="username">
    <br />
    <br />
    <input type="email"
    placeholder="Email"  name="email">
    <br />
    <br />
    <input type="password"
    placeholder="Password"  name="password">
    <br />
    <br />
    <input type="password"
    placeholder="Confirmpassword"  name="confirmpassword">
    <br />
    <br />
    <input type="checkbox">
    <label>Are you 13+ age?</label>
    <br />
    <br />
    <input type="checkbox">
    <a href="#">TOS and Privacy rules</a>
    <br />
    <br />
    
    <button type = "submit"id="submit-button">REGISTER</button>
    <button type = "submit"id="cancel-button">CANCEL</button>
    </form>
</div>